@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: "Inconsolata", monospace;
    font-size: 5.2vw;
}

#container {
    width: 100vw;
    height: 100vh;
}

.nav-btns {
    display: flex;
    font-size: 2.4vw;
    margin: 2vw;
    justify-content: center;
}

.nav-btns * {
    margin: 1vw;
    padding: 1vw;
}

input {
    font-size: 5.2vw;
}
